<!DOCTYPE html>
<html lang="ja">
    <head>
        <title href="/main">TODOリスト</title>
        <%-include('./header')%>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
    <div id="wrap">
        <article>
        <h1>TODOリスト</h1>
        <p><%=message%></p>
        <form action="/main/new" method="post">
            <input id="new" type="text" name="content" placeholder="日本語と英数字のみ対応" required>
            <label id="first"><input type="radio" value="m" name="attribute" checked="checked">しないといけないこと</label>
            <label><input type="radio" value="w" name="attribute">やりたいこと</label>
            <label><input type="radio" value="e" name="attribute">そのうちすること</label>
            <button type="submit">送信</button>
        </form>

        <div id="tab">
            <ul id="nav">
                <li><input id="all" name="nav" type="radio"><label for="all">すべて</label></li>
                <li><input id="must" name="nav" type="radio"><label for="must">しないと</label></li>
                <li><input id="want" name="nav" type="radio"><label for="want">やりたい</label></li>
                <li><input id="eventually" name="nav" type="radio"><label for="eventually">そのうち</label></li>
            </ul>
        </div>


        <div id="main">
        <section>
        <div class="must">
            <h3>しないといけないこと</h3>
            <div class="list">
            <% for(let i = 0;i < m[0].length;i++){ %>
                <input class="list-checkbox" type="checkbox" value=<%= m[1][i]%>><p class="list-content m" value=<%= m[1][i]%>><%= m[0][i] %></p>
            <% } %>
            </div>
        </div>
        </section>

        <section>
        <div class="want">
            <h3>やりたいこと</h3>
            <div class="list">
            <% for(let i = 0;i < w[0].length;i++){ %>
                <input class="list-checkbox" type="checkbox" value=<%= w[1][i]%>><p class="list-content w" value=<%= w[1][i]%>><%= w[0][i] %></p>
            <% } %>
            </div>
        </div>
        </section>

        <section>
        <div class="eventually">
            <h3>そのうちすること</h3>
            <div class="list">
            <% for(let i = 0;i < e[0].length;i++){ %>
                <input class="list-checkbox" type="checkbox" value=<%= e[1][i]%>><p class="list-content e" value=<%= e[1][i]%>><%= e[0][i] %></p>
            <% } %>
            </div>
        </div>
        </section>
        </div>
        </article>
    </div>
    <footer>
        <small>&copy;2019 s-ikegami.</small>
    </footer>
    </body>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <%# <script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script> %>
    <%# <script type="text/javascript" src="/javascripts/jquery.ui.touch-punch.min.js"></script> %>
    <script type="text/javascript" src="/javascripts/main.js"></script>
</html>