<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>TODOリスト</title>
        <%-include('./header')%>
        <script type="text/javascript" src="/javascripts/main.js"></script>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
    <div id="wrap">
        <article>
        <h1>TODOリスト</h1>
        <p><%=message%></p>
        <form action="/main/new" method="post">
            <input type="text" name="content" placeholder="日本語と英数字のみ対応" required>
            <select name="attribute">
                <option value="m" selected>しないといけないこと</option>
                <option value="w">やりたいこと</option>
                <option value="e">そのうちすること</option>
            </select>
            <button type="submit">送信</button>
        </form>
        
        <section>
        <div class="must">
            <h3>しないといけないこと</h3>
            <div class="list">
            <% for(let item of m){ %>
                <input class="list-checkbox" type="checkbox"><p class="list-content" draggable="true"><%= item %></p>
            <% } %>
            </div>
        </div>
        </section>

        <section>
        <div class="want">
            <h3>やりたいこと</h3>
            <div class="list">
            <% for(let item of w){ %>
                <input class="list-checkbox" type="checkbox"><p class="list-content" draggable="true"><%= item %></p>
            <% } %>
            </div>
        </div>
        </section>

        <section>
        <div class="eventually">
            <h3>そのうちすること</h3>
            <div class="list">
            <% for(let item of e){ %>
                <input class="list-checkbox" type="checkbox"><p class="list-content" draggable="true"><%= item %></p>
            <% } %>
            </div>
        </div>
        </section>

        </article>
    </div>
    </body>
    <script>
        // jqueryが外部ファイルで読み込まれないため仕方なし
        $(function() {
            $('.list-checkbox').on('click',function(){
                ({'display':'none'});
                    $(this).css({'display':'none'});
                    $(this).next('p').css({'display':'none'});
                },1000);
            });
        });
    </script>
</html>